fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-dotenv
pydantic-settings
passlib
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
httpx
python-socketio
openai
langchain-openai
langchain-core
pandas
aiofiles
